.chess-board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.chess-square {
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
}

